@font-face {
    font-family: "Arimo";
    src: url(/media/fonts/Arimo.ttf) format('ttf'),
        url(/media/fonts/Arimo-Italic.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: "Nunito Sans";
    src: url(/media/fonts/NunitoSans.ttf),
        url(/media/fonts/NunitoSans-Italic.ttf);
    font-weight: normal;
    font-style: normal;
}

/*
:root {
    --color-base: #FFFFFF;
    --color-light: #4D7EA8;
    --primary: 28262C;

    --background-color: var(--color-base);
    --font-serif: "Nunito Sans", "sans-serif";

    --rhythm: 1.5rem;
    
}
*/

html{
    background-color: #FFFFFF;

}

h1, h2{
    font-family: "Nunito Sans", sans-serif;
    color: #4D7EA8;
}

h3, h4 {
    font-family: "Nunito Sans", sans-serif;
    color:#28262C;
}

ul, p, li {
    font-family: "Arimo", sans-serif;
    color: #28262C;
        
}
