@font-face {
    font-family: Inter;
    src: url(../media/fonts/Inter.woff2);
    font-weight: 100 900;
    font-style: normal;
}
@font-face {
    font-family: PublicSans;
    src: url(../media/fonts/PublicSans.woff2);
    font-weight: 100 900;
    font-style: normal;
}

html{
    background-color: #FFFFFF;
}

* {
    box-sizing: border-box;
}

body{
    padding: 16px;
}

header {
    padding: 1rem;
    position: relative;
}

header label {
    cursor: pointer;
    height: 1.25rem;
    position: fixed;
    right: 1rem;
    top: 1rem;
    width: 1.625rem;
    z-index: 1001;
}

header label span {
    background-color: #4D7EA8;
    border-radius: 2px;
    display: block;
    height: 4px;
    position: absolute;
    width: 100%;
    transform-origin: left;
}

header label span:nth-child(1) {
    top: 0;
}

header label span:nth-child(2) {
    top: 0.5rem;
}

header label span:nth-child(3) {
    top: 1rem;
}

nav {
    background: #FFFFFF;
    height: 100vh;
    width: 18.75rem;
    position: fixed;
    right: -300px;
    top: 0;
    z-index: 1000;
}

nav ul{
    list-style: none;
    margin: 0;
    padding: 4rem;
}

nav ul li{
    margin-bottom: 1rem;
}

nav ul li a {
    color: #28262C;
    text-decoration: none;
    font-size: 25px;
}

.nav-toggle:checked ~ nav{
    right:0;
}
.nav-toggle:checked ~ .nav-toggle-label span:nth-child(1){
    transform: rotate(45deg);
    top: -2px;
}

.nav-toggle:checked ~ .nav-toggle-label span:nth-child(2){
    opacity: 0;
}

.nav-toggle:checked~.nav-toggle-label span:nth-child(3){
    transform:rotate(-45deg);
}

:link {
    font-family: "Inter";
    color: #28262C;
}
:visited{
    font-family: "Inter";
    color: #4D7EA8;
}

h1, h2{
    font-family: "PublicSans";
    color: #4D7EA8;
    font-size: 50px;
    font-weight: 400;
    line-height: 1rem;
}
b {
    font-weight: 700;
    font-family: "Inter";
}

u{
    font-family: "Inter";
    color: #28262C;
    font-size: 20px;
}

h3, h4 {
    font-family: "Inter";
    color:#28262C;
    font-size: 1.8rem;
    line-height: 1.2rem;
}

.homepage p {
    font-size: 12px;
    font-family: "Inter";
    line-height: 1rem;
}
.homepage h3{
    color:#4D7EA8;
    font-size: 20px;
    font-family: "PublicSans";
}

.btn-link{
    display: inline-block;
    padding: 15px;
    background-color: #4D7EA8;
    border-radius:30px;
    text-align: center;
    cursor: pointer;
    border: none;
    text-decoration: none;
    color:#FFFFFF;
    font-size: 25px;
}

.resumepage ul, p, li {
    font-family: "Inter";
    color: #28262C;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
}

.about-me-image {
    width: 500px;
    height: auto;
  display: block;
  margin: auto;
}

.resumepage p + ul li{
    font-family: "Inter";
    color: #28262C;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
}

.image-container{
    position: relative;
}

.resumepage h1, h2{
    text-align: center;
    margin: 0;

}
.resumepage h4{
    font-size: 16px;
}
.resumepage p{
    font-size:14px;
}

.TargetAudiencePicture{
    width:383px;
    height: auto;
    display: block;
    margin: auto;
}

.MiaHarrisonRectangle{
    width: 500px;
    padding:26px;
    line-height: 170%;
    background-color: #7E85C7;
    font-size: 20px;
    border-radius: 28px;
    display: block;
    margin: auto;
}

.MiaHarrisonRectangle h4{
    font-size: 40px;
    margin-top:1px;
    color: #FFFFFF;
    text-align: left;
}

.MiaHarrisonRectangle p{
    font-size: 30px;
    text-align: left;
    color:#FFFFFF;
}