@font-face {
    font-family: Inter;
    src: url(../media/fonts/Inter.woff2);
    font-weight: 100 900;
    font-style: normal;
}
@font-face {
    font-family: PublicSans;
    src: url(../media/fonts/PublicSans.woff2);
    font-weight: 100 900;
    font-style: normal;
}

html{
    background-color: #FFFFFF;

}

* {
    box-sizing: border-box;
}

body{
    padding: 16px;
}
/*
header {
    background-color: #4D7EA8;
    display: flex;
    padding: 30px 50px;
    font-family: "Arimo";
    color: #28262C;
}
*/
:link {
    font-family: "Inter";
    color: #28262C;
}
:visited{
    font-family: "Inter";
    color: #4D7EA8;
}

h1, h2{
    font-family: "PublicSans";
    color: #4D7EA8;
    font-size: 2.5rem;
    font-weight: 400;
}

b {
    font-weight: 700;
    font-family: "Inter";
}

u{
    font-family: "Inter";
    color: #28262C;
    font-size: 20px;
}
h3, h4 {
    font-family: "Inter";
    color:#28262C;
    font-size: 1.8rem;
}

ul, p, li {
    font-family: "Inter";
    color: #28262C;
    font-style: normal;
    font-weight: 400;
    font-size: 0.8rem;
}

/*
.footer {
    background-color: #646F4B;
    color: #28262C;
    text-align: left;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}
*/

.about-me-image {
    width: 500px;
    height: auto;
  display: block;
  margin: auto;
}

.image-container{
    position: relative;
}

/*
img{
    position: absolute;
    right: 0;
    top: 0%;
}
*/

.resumepage h1, h2{
    text-align: center;
    margin: 0;

}
.resumepage h4{
    font-size: 16px;
}
.resumepage p{
    font-size:14px;
}

.TargetAudiencePicture{
    width:383px;
    height: auto;
    display: block;
    margin: auto;
}

.MiaHarrisonRectangle{
    width: 500px;
    padding:26px;
    line-height: 170%;
    background-color: #7E85C7;
    font-size: 20px;
    border-radius: 28px;
    display: block;
    margin: auto;
}

.MiaHarrisonRectangle h4{
    font-size: 40px;
    margin-top:1px;
    color: #FFFFFF;
    text-align: left;
}

.MiaHarrisonRectangle p{
    font-size: 30px;
    text-align: left;
    color:#FFFFFF;
}